﻿@using Microsoft.AspNetCore.Identity
@using Beers.Models
@using Beers.Data
@using Microsoft.EntityFrameworkCore

@model BeerViewModel

@inject UserManager<User> UserManager
@inject SignInManager<User> SignInManager
@inject BeersContext dbcontext

@{
    var user = await UserManager.GetUserAsync(User);

    bool isInWishList = false;
    bool isInAlreadyDrunkList = false;
    if (user != null)
    {
        var thisuser = dbcontext.Users
            .Include(x => x.WishList)
                .ThenInclude(x => x.Beer)
            .Include(x => x.AlreadyDrunkBeers)
                .ThenInclude(x => x.Beer)
            .FirstOrDefault(x => x.Id == user.Id);

        isInWishList = thisuser.WishList
            .Where(x => x.IsDeleted == false)
            .Any(x => x.BeerId == Model.Id);
        isInAlreadyDrunkList = thisuser.AlreadyDrunkBeers
            .Where(x => x.IsDeleted == false)
            .Any(x => x.BeerId == Model.Id);
    }

}

    <div class="card">
        @if (SignInManager.IsSignedIn(User))
        {
        <div class="d-flex justify-content-between position-absolute mt-2 w-100">
            <div class="user-controlls ml-2">
                @if (isInWishList)
                {
                    <i class="fas fa-heart" style="color: rgba(245, 10 ,70,.9)"></i>
                }
                @if (isInAlreadyDrunkList)
                {
                    <i class="fas fa-beer text-primary"></i>
                }
            </div>
            <div class="admin-controlls mr-2">
                @if (User.IsInRole("Admin"))
                {
                    <div class="controls" style="top: 0; right: 0">
                        <a class="btn btn-primary" asp-controller="Beers" asp-action="Edit" asp-route-id="@Model.Id" title="EDIT"><i class="far fa-edit"></i></a>
                        <button class="btn btn-danger beer-delete" onclick="FastDelete(@Model.Id)" title="DELETE"><i class="fas fa-trash-alt"></i></button>
                    </div>
                }
            </div>
        </div>

        }


        <div class="card-body">
            @if (string.IsNullOrEmpty(Model.ImageURL))
            {
                <img class="card-img-top" src="~/images/blankbeer.png" alt="Card image cap" width="100%">
            }
            else
            {
                <img class="card-img-top" src="@Model.ImageURL" alt="Card image cap" width="100%">
            }
            <h5 class="card-title">
                <p class="card-text mb-0 gr-h-family text-primary">@Model.Brewery</p>
                <a class="text-black" asp-controller="Beers" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
            </h5>
            <div class="mb-3">
                <div class="gr-h-family text-muted">ABV @Model.ABV%</div>
            </div>
            <div class="row align-items-center px-2">
                <a class="mbtn-primary px-3 col-md-6" asp-controller="Beers" asp-action="Details" asp-route-id="@Model.Id">View more</a>
                <div class="star-rating d-flex align-items-center col-md-6" style="min-height: 30px;">
                    @for (var i = 1; i <= Model.AverageRating; i++)
                    {
                        <span class="fa fa-star checked" data-rating="@i"></span>
                    }
                </div>
            </div>
        </div>
    </div>
