﻿@using Microsoft.AspNetCore.Identity
@using Beers.Models

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Beers.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="@Url.Content("~/css/main.css")" />
    <link rel="stylesheet" href="~/fontawesome/css/all.css" />
</head>
<body>
    <div class="container-fluid overflow-hidden p-0">
        <header id="home-page-header">
            <!-- TOP HEADER -->
            <div class="b-b-light bg-black top-header">
                <div class="container">
                    <div class="row heading">
                        <div class="col-md-3 flex-column d-none d-md-flex justify-content-md-end p-0 h-100">
                            <div class="social d-flex justify-content-md-start h-100 align-items-center">
                                <a class="h-100 px-3 d-flex justify-content-center align-items-center font-weight-bold" target="_blank" href="https://www.facebook.com/mitio1vi"><i class="fab fa-facebook"></i></a>
                                <a class="h-100 px-3 d-flex justify-content-center align-items-center b-r-light font-weight-bold" target="_blank" href="https://www.instagram.com/d.dimitroff_"><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                        <div class="col-md-9 flex-row d-none d-md-flex justify-content-md-end p-0 h-100 align-items-center">
                            <!-- <a class="h-100 px-3 d-flex justify-content-center align-items-center font-weight-bold b-l-light" href="#">Home</a> -->

                            <div class="search my-2 my-lg-0">
                                <!-- <input class="w-100" type="search" placeholder="Search" aria-label="Search"> -->
                                <input id="search-inp" class="w-100" type="text" placeholder="Search" name="search">
                                @*<button class="h-100" type="submit"><i class="fa fa-search search-icon" aria-hidden="true">#</i></button>*@
                                @*<a asp-controller="Beers" asp-action="Index" asp-route="" id="search-btn" class="h-100"><i class="fa fa-search search-icon" aria-hidden="true">#</i></a>*@
                                <a id="search-btn" asp-controller="Beers" asp-action="Index" class="h-100"><i class="fa fa-search search-icon" aria-hidden="true"></i></a>
                            </div>
                            <!-- USER ROLES -->
                            <!-- IF NOT LOGGED IN -->
                            @*<partial name="_LoginPartial" />*@
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @if (User.IsInRole("Admin"))
                                {
                                    <a id="manage" class="font-weight-bold nav-link btn btn-warning mr-2 px-3 text-white d-flex justify-content-center align-items-center" asp-controller="Users" asp-action="Index" title="Manage" style="height: 35px;">Users</a>
                                }
                                else
                                {
                                    <a id="manage" class="nav-link text-white" asp-area="Identity" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                                }
                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-controller="Account" asp-action="Logout">
                                    <button id="logout" type="submit" class="px-3 d-flex justify-content-center align-items-center font-weight-bold register-btn">Logout</button>
                                </form>
                            }
                            else
                            {
                                <a class="px-3 d-flex justify-content-center align-items-center font-weight-bold login-btn" id="login" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                <a class="px-3 d-flex justify-content-center align-items-center font-weight-bold register-btn" id="register" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                            }

                            <!-- IF LOGGED IN -->
                            <!-- <a class="h-100 px-3 d-flex justify-content-center align-items-center font-weight-bold" href="#">Account</a>
                        <a class="h-100 px-3 d-flex justify-content-center align-items-center font-weight-bold" href="#">Logount</a> -->
                            <!-- USER ROLES / END -->
                        </div>
                    </div>
                </div>
            </div>
            <!-- TOP HEADER / END -->

            <div id="navbar" class="d-flex w-100 b-b-light">
                <div class="d-flex w-100">
                    <div class="container">
                        <div class="row h-100">
                            <nav class="navbar navbar-expand-lg navbar-light w-100">
                                <a class="navbar-brand" asp-controller="Home" asp-action="Index">
                                    <img src="~/images/beeroverflow3.svg" alt="BeerOverflow" />
                                </a>
                                <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="padding: 0;outline: none;">
                                    <div class="text-white d-flex flex-column" style="width: 30px;height: 30px;justify-content: space-evenly;">
                                        <div style="width: 100%;height: 2px;background: white;"></div>
                                        <div style="width: 100%;height: 2px;background: white;"></div>
                                        <div style="width: 100%;height: 2px;background: white;"></div>
                                    </div>
                                </button>

                                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item active">
                                            <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-controller="Beers" asp-action="Index">Beers</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-controller="Breweries" asp-action="Index">Breweries</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-controller="Styles" asp-action="Index">Styles</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-controller="Countries" asp-action="Index">Countries</a>
                                        </li>
                                        @if (SignInManager.IsSignedIn(User))
                                        {
                                            <li class="nav-item">
                                                <a class="nav-link text-white" asp-controller="Account" asp-action="Wishlist">Wishlist</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link text-white" asp-controller="Account" asp-action="AlreadyDrunkList">AlreadyDrunkList</a>
                                            </li>
                                        }
                                        <li class="nav-item d-flex">
                                            @if (SignInManager.IsSignedIn(User))
                                            {
                                                @if (User.IsInRole("Admin"))
                                                {
                                                    <a id="manage" class="font-weight-bold nav-link btn btn-warning mr-2 px-3 text-white d-flex justify-content-center align-items-center" asp-controller="Users" asp-action="Index" title="Manage" style="height: 35px;">Users</a>
                                                }
                                                else
                                                {
                                                    <a id="manage" class="nav-link text-white" asp-area="Identity" title="Manage">Hello @UserManager.GetUserName(User)!</a>
                                                }
                                                <form id="logoutForm" class="form-inline" asp-area="Identity" asp-controller="Account" asp-action="Logout">
                                                    <button id="logout" type="submit" class="px-3 d-flex justify-content-center align-items-center font-weight-bold register-btn">Logout</button>
                                                </form>
                                            }
                                            else
                                            {
                                                <a class="px-3 d-flex justify-content-center align-items-center font-weight-bold login-btn" id="login" asp-area="" asp-controller="Account" asp-action="Login">Login</a>
                                                <a class="px-3 d-flex justify-content-center align-items-center font-weight-bold register-btn" id="register" asp-area="" asp-controller="Account" asp-action="Register">Register</a>
                                            }
                                            @*<a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>*@
                                        </li>
                                    </ul>
                                    <!-- <form class="form-inline my-2 my-lg-0">
                                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                                </form> -->
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
            @*MAIN HEADER*@
            <div class="main-header">
                <div class="container">
                    <div class="row h-100">
                        <nav class="navbar navbar-expand-lg navbar-light w-100">
                            <a class="navbar-brand text-white" href="#">
                                <img src="images/beeroverflow3.svg" alt="BeerOverflow" />
                            </a>
                            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="padding: 0;outline: none;">
                                <div class="text-white d-flex flex-column" style="width: 30px;height: 30px;justify-content: space-evenly;">
                                    <div style="width: 100%;height: 2px;background: white;"></div>
                                    <div style="width: 100%;height: 2px;background: white;"></div>
                                    <div style="width: 100%;height: 2px;background: white;"></div>
                                </div>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav ml-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-controller="Beers" asp-action="Index">Beers</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-controller="Breweries" asp-action="Index">Breweries</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-controller="Styles" asp-action="Index">Styles</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link text-white" asp-controller="Countries" asp-action="Index">Countries</a>
                                    </li>
                                    @if (SignInManager.IsSignedIn(User))
                                    {
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-controller="Account" asp-action="Wishlist">Wishlist</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link text-white" asp-controller="Account" asp-action="AlreadyDrunkList">AlreadyDrunkList</a>
                                        </li>
                                    }
                                </ul>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            @*MAIN HEADER / END*@
        </header>
        <main role="main">
            @RenderBody()
        </main>
        <footer class="bg-black text-muted py-3">
            <div class="container">
                &copy; 2020 - Beers.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    </div>


        
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
