﻿@model StyleViewModel

    <div class="card" style="border: none;">
        @if (User.IsInRole("Admin"))
        {
            <div class="controls position-absolute mr-2 mt-2" style="top: 0; right: 0">
                <a class="btn btn-primary" asp-controller="Styles" asp-action="Edit" asp-route-id="@Model.Id" title="EDIT"><i class="far fa-edit"></i></a>
                <button class="btn btn-danger beer-delete" onclick="FastDeleteStyle(@Model.Id)" title="DELETE"><i class="fas fa-trash-alt"></i></button>
            </div>
        }
        <div class="card-body px-0 pt-0">
            <div class="frame">
                <img class="card-img-top" src="~/images/beer-681807_1920.jpg" alt="Card image cap" width="100%">
            </div>
            <div class="p-3">
                <h5 class="card-title">
                    <p class="card-text mb-0 gr-h-family text-primary">
                    </p>
                    <a class="text-black" asp-controller="Styles" asp-action="Details" asp-route-id="@Model.Id">@Model.Name</a>
                </h5>
                <div class="mb-3">
                    <div class="gr-h-family text-muted">Beers @Model.Beers.Count</div>
                </div>
                <div class="d-flex align-items-center justify-content-between">
                    <a class="mbtn-primary px-3 mr-5" asp-controller="Styles" asp-action="Details" asp-route-id="@Model.Id">View more</a>
                    <!-- <div class="d-flex align-items-center" style="min-height: 30px;">
                    <a href="#">Show on map</a>
                </div> -->
                </div>
            </div>
        </div>
    </div>