@model CountryViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section id="details" class="bg-gray vh-75 d-flex align-items-center">
    @*Controls*@
    <div id="controls" class="d-flex align-items-center">
        @if (User.IsInRole("Admin"))
        {
            <form asp-action="Delete" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-danger mr-2">Delete <i class="fas fa-trash-alt"></i></button>
            </form>
            @*<a class="btn btn-danger mr-2" asp-action="Delete" asp-route-id="@Model.Id">Delete <i class="fas fa-trash-alt"></i></a>*@
            <a class="btn btn-primary mr-2" asp-action="Edit" asp-route-id="@Model.Id">Edit <i class="far fa-edit"></i></a>
        }
        <a asp-action="Index">Back to List</a>
    </div>
    @*Controls / END*@
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    <div class="frame">
                        <img src="~/images/beer-1513436_1920.jpg" alt="" width="100%" />
                    </div>
                </div>

                <div class="col-xs-12 col-sm-7 col-sm-push-1 col-md-7 col-lg-7">
                    <h2>
                        @Model.Name
                        <a target="_blank" class="text-primary" href="http://maps.google.com/?q=@Model.Name"><i class="fas fa-map-marked-alt"></i></a>
                    </h2>
                    @*<h3 class="text-primary gr-h-family mb-2" title="alcohol by volume">Beers: @Model.Beers.Count</h3>*@
                    @*<p class="mb-5 text-muted">@Model.Country</p>*@
                </div>

            </div>

        </div>
    </div>
</section>

@*Nav TABS*@
<nav>
    <div class="nav nav-tabs bg-gray" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-breweries-tab" data-toggle="tab" href="#country-breweries" role="tab" aria-controls="nav-home" aria-selected="true">Breweries ( @Model.Breweries.Count )</a>
    </div>
</nav>
@*NAV TABS / END*@

<div class="tab-content py-100" id="nav-tabContent">
    <div class="container">
        <div class="tab-pane fade show active" id="country-breweries" role="tabpanel" aria-labelledby="nav-breweries-tab">
            <div class="row">
                @foreach(var brewery in Model.Breweries)
                {
                    <div class="col-md-3 col-sm-4">
                        @Html.Partial("_BreweryPartial", brewery)
                    </div>
                }
            </div>
        </div>
    </div>
</div>