﻿@model HomeIndexViewModel

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LandingPageLayout.cshtml";
}

<section class="landing">
    <div class="landing-text">
        <h1 class="display-4">Welcome to <span class="text-primary">BeerOverflow</span></h1>
        <a asp-controller="Beers" asp-action="Index" class="mbtn-primary px-5">Explore Beers</a>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide vh-100" data-ride="carousel">
        <ol style="z-index: 1;" class="carousel-indicators d-inline-flex w-100 m-0 p-0 overflow-hidden">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active col-md-4 w-100 m-0 h-100"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1" class="col-md-4 w-100 m-0 h-100"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2" class="col-md-4 w-100 m-0 h-100"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="w-100 vh-100 bg-img-1 parallax-img"></div>
            </div>
            <div class="carousel-item">
                <div class="w-100 vh-100 bg-img-2 parallax-img"></div>
            </div>
            <div class="carousel-item">
                <div class="w-100 vh-100 bg-img-3 parallax-img"></div>
            </div>
        </div>
    </div>
</section>

<!-- TOP STYLES -->
<section id="top-styles" class="bg-black vh-75 d-flex align-items-center">
    <div class="container p-0">
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="d-flex flex-column p-5">
                    <h1 class="text-white">Beer Styles</h1>
                    <p class="text-white mb-5 text-muted">Simply put, a beer style is a label given to a beer that describes its overall character and, oftentimes, its place of origin. It's a name that has been broadly accepted by brewers and consumers after years or even centuries of trial and error, scientific research, and marketing.</p>
                    <a class="mbtn-primary w-50" asp-controller="Styles" asp-action="Index">Show me more</a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="row h-100 vh-50 m-0 bg-img-cheers">
                    @foreach (var style in Model.TopRatedStyles)
                    {
                        <div class="z-index-1 col-6 col-xs-6 col-sm-6 col-md-6 p-3 d-flex flex-column align-items-center justify-content-center b-light">
                            <h4 class="text-primary">
                                <a class="text-primary gr-h-family" asp-controller="Styles" asp-action="Details" asp-route-id="@style.Id">@style.Name</a>
                            </h4>
                            <p class="text-white">@style.Beers.Count BEERS with this Style</p>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- TOP STYLES / END -->

<section id="second" class="vh-75 bg-img-light-section d-flex w-100">
    <div id="carouselExampleControls" class="carousel slide d-flex w-100 align-items-center" data-ride="carousel">
        <div class="carousel-inner">
            @{
                var firstBrewery = Model.TopRatedBreweries.First();
                <div class="carousel-item active">
                    <div class="container">
                        <div class="row">
                            <div class="p-4 d-flex flex-column col-sm-12 col-md-6 justify-content-center align-items-center">
                                <div class="frame">
                                    <img src="~/images/beer-681807_1920.jpg" alt="" width="300px" />
                                </div>
                            </div>
                            <div class="d-flex flex-column col-sm-12 col-md-6 justify-content-center">
                                <h2 class="gr-h-family text-primary">TOP Brewery</h2>
                                <h1>@firstBrewery.Name</h1>
                                <p class="mb-5">@firstBrewery.Country</p>
                                <a class="mbtn-primary w-50" asp-controller="Breweries" asp-action="Details" asp-route-id="@firstBrewery.Id">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            @foreach (var brewery in Model.TopRatedBreweries.Skip(1))
            {
                <div class="carousel-item">
                    <div class="container">
                        <div class="row">
                            <div class="p-4 d-flex flex-column col-sm-12 col-md-6 justify-content-center align-items-center">
                                <div class="frame">
                                    <img src="~/images/beer-681807_1920.jpg" alt="" width="300px" />
                                </div>
                            </div>
                            <div class="d-flex flex-column col-sm-12 col-md-6 justify-content-center">
                                <h2 class="gr-h-family text-primary">TOP Brewery</h2>
                                <h1>@brewery.Name</h1>
                                <p class="mb-5">@brewery.Country</p>
                                <a class="mbtn-primary w-50" asp-controller="Breweries" asp-action="Details" asp-route-id="@brewery.Id">Learn more</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

<!-- Create BEER SECTION -->
<section id="create-beer" class="bg-img-dark-section vh-75 d-flex align-items-center p-0">
    <div class="container">
        <div class="row d-flex align-items-center">

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 py-100">
                <h3 class="text-white">Create your own beer</h3>
                <p class="text-muted mb-5">Brewing beer at home is easy. If you can make mac and cheese from a box without help, you can make beer. </p>
                <a class="mbtn-primary text-white px-5" asp-controller="Beers" asp-action="Create">Show me more</a>
            </div>

            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 frame">
                <img src="~/images/beer-2252586_1920.jpg" width="100%" />
            </div>

        </div>
    </div>
</section>
<!-- Create SECTION / END -->
<!-- TOP BEERS SECTION -->
<section id="top-beers" class="bg-white">
    <h1 class="text-center mb-5">TOP<span class="highlight">3</span> <span class="text-primary">BEERS</span></h1>
    <hr class="my-5">
    <div class="container">
        <div class="row">
            @foreach (var beer in Model.TopRatedBeers)
            {
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    <div class="d-flex justify-content-center align-items-center flex-column">
                        @if (string.IsNullOrEmpty(beer.ImageURL))
                        {
                            <img src="~/images/blankbeer.png" alt="beer" width="100%">
                        }
                        else
                        {
                            <img src="@beer.ImageURL" alt="beer" width="100%">
                        }
                        <a asp-controller="Beers" asp-action="Details" asp-route-id="@beer.Id">
                            <h4 class="text-center">@beer.Name</h4>
                        </a>
                        <p>@beer.Brewery</p>
                        <p class="m-0">@beer.Description</p>
                        <p class="text-muted">@beer.Style @beer.ABV%</p>
                    </div>
                </div>
            }
        </div>
    </div>
</section>
<!-- TOP BEERS SECTION / END -->
<!-- COUNTER SECTION -->
<section id="counters" class="vh-50 bg-dark d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div class="counter d-flex flex-column align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" width="64" class="svg replaced-svg"><g fill="none" fill-rule="evenodd" stroke="#fff" stroke-width="2" transform="translate(9 13)"><path d="m21 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.21 1.873"></path><path d="m32 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.209 1.873"></path><path d="m43 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.209 1.873"></path><path d="m18 3h4"></path><path d="m29 3h4"></path><path d="m12 19v19"></path><g stroke-linecap="square"><path d="m13 19h32"></path><path d="m6 3h4"></path><path d="m45 19v19"></path><path d="m1.00732422 19.6210327v18"></path><path d="m5.63891602 13.4294434-4.22143555 5.0692749"></path><path d="m11.9934692 13.4110107-5.57189938 5.5889893" transform="matrix(-1 0 0 1 18.41504 0)"></path><path d="m6 3v10"></path><path d="m1 38h44"></path></g></g></svg>
                    <span class="mb-3">@Model.BeersCount</span>
                    Beers
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div class="counter d-flex flex-column align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" width="64" class="svg replaced-svg"><g fill="none" fill-rule="evenodd" stroke="#fff" stroke-width="2" transform="translate(9 13)"><path d="m21 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.21 1.873"></path><path d="m32 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.209 1.873"></path><path d="m43 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.209 1.873"></path><path d="m18 3h4"></path><path d="m29 3h4"></path><path d="m12 19v19"></path><g stroke-linecap="square"><path d="m13 19h32"></path><path d="m6 3h4"></path><path d="m45 19v19"></path><path d="m1.00732422 19.6210327v18"></path><path d="m5.63891602 13.4294434-4.22143555 5.0692749"></path><path d="m11.9934692 13.4110107-5.57189938 5.5889893" transform="matrix(-1 0 0 1 18.41504 0)"></path><path d="m6 3v10"></path><path d="m1 38h44"></path></g></g></svg>
                    <span class="mb-3">@Model.BreweriesCount</span>
                    Breweries
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
                <div class="counter d-flex flex-column align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" width="64" class="svg replaced-svg"><g fill="none" fill-rule="evenodd" stroke="#fff" stroke-width="2" transform="translate(9 13)"><path d="m21 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.21 1.873"></path><path d="m32 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.209 1.873"></path><path d="m43 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.209 1.873"></path><path d="m18 3h4"></path><path d="m29 3h4"></path><path d="m12 19v19"></path><g stroke-linecap="square"><path d="m13 19h32"></path><path d="m6 3h4"></path><path d="m45 19v19"></path><path d="m1.00732422 19.6210327v18"></path><path d="m5.63891602 13.4294434-4.22143555 5.0692749"></path><path d="m11.9934692 13.4110107-5.57189938 5.5889893" transform="matrix(-1 0 0 1 18.41504 0)"></path><path d="m6 3v10"></path><path d="m1 38h44"></path></g></g></svg>
                    <span class="mb-3">@Model.StylesCount</span>
                    Styles
                </div>
            </div>
            @*<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div class="counter d-flex flex-column align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" height="64" viewBox="0 0 64 64" width="64" class="svg replaced-svg"><g fill="none" fill-rule="evenodd" stroke="#fff" stroke-width="2" transform="translate(9 13)"><path d="m21 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.21 1.873"></path><path d="m32 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.209 1.873"></path><path d="m43 19v-2.52c0-2.73-3.006-3.929-3.006-5.353 0-2.595-.994-7.014-.994-7.199 0-.469 1-1.186 1-2.073l-.5-.855c0-.553-.373-1-.833-1h-4.334c-.46 0-.833.447-.833 1l-.5.855c0 .887 1 1.604 1 2.073 0 .185-.994 4.604-.994 7.199 0 .619-.568 1.195-1.209 1.873"></path><path d="m18 3h4"></path><path d="m29 3h4"></path><path d="m12 19v19"></path><g stroke-linecap="square"><path d="m13 19h32"></path><path d="m6 3h4"></path><path d="m45 19v19"></path><path d="m1.00732422 19.6210327v18"></path><path d="m5.63891602 13.4294434-4.22143555 5.0692749"></path><path d="m11.9934692 13.4110107-5.57189938 5.5889893" transform="matrix(-1 0 0 1 18.41504 0)"></path><path d="m6 3v10"></path><path d="m1 38h44"></path></g></g></svg>
                    <span class="mb-3">10</span>
                    Styles
                </div>
            </div>*@


        </div>
    </div>
</section>
<!-- COUNTER SECTION / END -->