﻿@model List<Beers.Services.DTOs.BeerDTO>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>BIRI</h1>

@foreach(var item in Model)
{
    <p>@item.Name</p>
}