﻿section#details {
    margin-top: 121px;
}

    section#details #controls {
        position: absolute;
        top: 15px;
        right: 15px;
        font-weight: 400;
    }

        section#details #controls .fas {
            font-size: 14px;
        }

section {
    position: relative;
    z-index: 1;
    padding-top: 100px;
    padding-bottom: 100px;
    background: #fff;
    background-repeat: no-repeat !important;
    background-position: bottom left;
}

.nav.nav-tabs a {
    background: #f8f8f8;
    display: inline-block;
    width: calc(100% * (1/3));
    text-align: center;
    border: 0 !important;
    border-radius: 0 !important;
    font-weight: 600;
    color: #1b1d1e;
    text-decoration: none;
}

    .nav.nav-tabs a.active {
        background: white;
        border: 0 !important;
        border-radius: 0 !important;
        color: #cbb27c !important;
    }

    .nav.nav-tabs a:hover {
        border: 0 !important;
        border-radius: 0 !important;
        color: #cbb27c;
    }

.tab-pane {
    display: block;
}

    .tab-pane.fade:not(.show) {
        opacity: 0;
        height: 0;
        overflow: hidden;
    }

.user-thumbnail img {
    background: #f8f8f8;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.star-rating .fa-star.checked {
    color: #cbb27c;
}

#nav-reviews #form-add-review label {
    font-size: 14px;
    font-weight: bold;
}

#nav-reviews #form-add-review .rating-icons input[type=radio] {
    display: none;
}

#nav-reviews #form-add-review .rating-icons label:hover {
    color: #cbb27c;
}

#nav-reviews #form-add-review .rating-icons > label:hover:before,
#nav-reviews #form-add-review .rating-icons > label:hover ~ label:before {
    color: yellow !important;
}

#nav-reviews #form-add-review .rating-icons > input:checked ~ label:before {
    color: #cbb27c;
}

#nav-reviews #form-add-review .rating-icons > input[checked] ~ label:before {
    color: #cbb27c;
}

#nav-reviews #form-add-review textarea#review {
    min-height: 200px;
    max-height: 200px;
    height: 75px;
    outline: none;
    border: 1px solid #e4e4e4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
}

.review-description {
    padding-left: 15px;
    padding-right: 10px;
    background: #f3f3f3;
    border-radius: 20px;
    margin-top: 15px;
    margin-right: 20px;
    overflow: auto;
    min-height: 75px;
}
/*# sourceMappingURL=details.css.map */
