﻿@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.bg-login {
    background: url(../images/pub-5537449_1920.jpg) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
}

    .bg-login::before {
        content: '';
        background: rgba(76, 76, 76, .72);
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

.nav-tabs {
    border: none;
}

.gr-h-family {
    font-family: 'Grand Hotel', cursive;
}

.b-t-light, .b-light {
    border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.b-r-light, .b-light {
    border-right: 1px solid rgba(255, 255, 255, 0.05);
}

.b-b-light, .b-light, header .main-header.not-transparent {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.b-l-light, .b-light {
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}

.py-100 {
    padding-top: 100px;
    padding-bottom: 100px;
}

.bg-primary, .mbtn-primary {
    background: #cbb27c !important;
}

.bg-black, header .main-header.not-transparent {
    background: #1b1d1e !important;
}

.bg-dark {
    background: #181a1b !important;
}

.bg-white, .mbtn-secondary {
    background: white;
}

.bg-gray {
    background: #f8f8f8;
}

.text-primary {
    color: #cbb27c !important;
}

.text-black {
    color: #1b1d1e !important;
}

.vh-50 {
    min-height: 50vh !important;
}

.vh-75 {
    min-height: 75vh !important;
}

.z-index-1 {
    z-index: 1;
}

.highlight {
    background: #ba9a56;
    padding: 0 0 0 10px;
    font-weight: 600;
    color: white;
}

/*footer {
    position: fixed;
    z-index: -1;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 100px 0 0 0;
    color: white;
    background: #1b1d1e;
    min-height: 60vh;
}*/

.parallax-img {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.mbtn-primary {
    padding: 10px 5px;
    text-decoration: none !important;
    border: 2px solid #cbb27c;
    border-radius: 3px;
    outline: none;
    color: white;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 600;
    text-align: center;
}

    .mbtn-primary:hover {
        color: white;
        text-decoration: none;
        background: #ba9a56 !important;
        border: 2px solid #ba9a56;
    }

.mbtn-secondary {
    padding: 10px 5px;
    text-decoration: none !important;
    border: 2px solid #cbb27c;
    border-radius: 3px;
    outline: none;
    color: #cbb27c;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    font-weight: 600;
    text-align: center;
}

    .mbtn-secondary:hover {
        color: white;
        text-decoration: none;
        background: #ba9a56 !important;
        border: 2px solid #ba9a56;
    }

.bg-img-cheers {
    position: relative;
}

    .bg-img-cheers::before {
        content: ' ';
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        opacity: .05;
        background-image: url("../images/cheers-839865_1920.jpg");
        background-repeat: no-repeat;
        background-position: 50% 0;
        background-size: cover;
    }

.login-btn {
    background: white;
    color: #cbb27c !important;
    border: 2px solid #cbb27c;
    min-height: 35px !important;
    border-radius: 13px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    margin-right: 10px;
}

    .login-btn:hover {
        background: #ba9a56;
        border: 2px solid #ba9a56;
        color: white !important;
        cursor: pointer;
    }

        .login-btn:hover + .register-btn {
            background: white;
            color: #cbb27c !important;
        }

.register-btn {
    background: #cbb27c;
    color: white !important;
    border: 2px solid #cbb27c;
    min-height: 35px !important;
    border-radius: 13px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
}

    .register-btn:hover {
        cursor: pointer;
        background: #ba9a56;
        border: 2px solid #ba9a56;
        color: white !important;
    }

a.navbar-brand img {
    width: 160px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 10;
}

    header .heading {
        height: 50px;
    }

        header .heading a {
            text-decoration: none;
            color: white;
        }

        header .heading .search {
            margin-right: 50px;
            background: rgba(255, 255, 255, 0.2);
            border: none;
            border-radius: 2px;
            position: relative;
            width: 250px;
            display: -webkit-inline-box;
            display: -ms-inline-flexbox;
            display: inline-flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 35px !important;
        }

            header .heading .search input#search-inp {
                border: none;
                background: none;
                outline: none;
                height: 100%;
                width: 215px;
                -webkit-transition: all .5s ease;
                transition: all .5s ease;
                color: rgba(255, 255, 255, 0.4);
            }

                header .heading .search input#search-inp:focus {
                    background: rgba(255, 255, 255, 0.4);
                    color: white;
                }

            header .heading .search a#search-btn {
                position: absolute;
                right: 5px;
                background: none;
                outline: none;
                border: none;
            }

                header .heading .search a#search-btn .search-icon {
                    width: 35px;
                    text-align: center;
                    height: 100%;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-pack: center;
                    -ms-flex-pack: center;
                    justify-content: center;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    color: white;
                    -webkit-transition: all .5s ease;
                    transition: all .5s ease;
                }

    header#home-page-header #navbar {
        top: -200px;
    }

    header #navbar {
        min-height: 120px;
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        position: fixed;
        background: rgba(27, 29, 30, 0.97);
    }

    header .main-header {
        min-height: 120px;
        background: -webkit-gradient(linear, left bottom, left top, from(transparent), to(#1b1d1e));
        background: linear-gradient(0deg, transparent, #1b1d1e);
        -webkit-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

        header .main-header:hover {
            cursor: alias;
        }

        header .main-header.not-transparent {
            background: yellow;
        }

section.landing {
    margin-top: 50px;
    position: relative;
    height: 100vh;
}

    section.landing .landing-text {
        position: absolute;
        z-index: 1;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
        height: 100%;
        width: 100%;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: rgba(27, 29, 30, 0.3);
        bottom: 10px;
    }

        section.landing .landing-text h1 {
            font-weight: bold;
            color: white;
            padding: 20px;
            margin-bottom: 50px;
        }

    section.landing #carouselExampleIndicators {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    section.landing ol.carousel-indicators {
        height: 10px;
    }

        section.landing ol.carousel-indicators li {
            background: rgba(203, 178, 124, 0.75);
        }

    section.landing .carousel-inner .bg-img-1 {
        background-image: url("../images/beer-932994_1920.jpg");
    }

    section.landing .carousel-inner .bg-img-2 {
        background-image: url("../images/beer-1513436_1920.jpg");
    }

    section.landing .carousel-inner .bg-img-3 {
        background-image: url("../images/beer-2689537_1920.jpg");
    }

    section.landing .carousel-inner [class*=bg-img-] {
        position: relative;
    }

        section.landing .carousel-inner [class*=bg-img-]::after {
            content: '';
            display: block;
            height: 100%;
            width: 100%;
            background: rgba(86, 86, 86, 0.2);
        }

.frame {
    background: white;
    padding: 10px;
    border-radius: 3px;
    -webkit-box-shadow: 0px 0px 30px -15px #1b1d1e;
    box-shadow: 0px 0px 30px -15px #1b1d1e;
}

    .frame img {
        width: 100%;
    }

.bg-img-light-section {
    background: url(../images/block-bg-2.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

.bg-img-dark-section {
    background: url(../images/block-bg-3.jpg);
    padding-top: 100px;
    padding-bottom: 100px;
    background-size: cover;
    background-repeat: no-repeat;
}

section#second a[class^="carousel-control-"] {
    width: 10% !important;
}

section#top-beers {
    padding-top: 100px;
    padding-bottom: 100px;
}

    section#top-beers h1 {
        letter-spacing: 10px;
    }

section#counters .counter {
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    letter-spacing: 4px;
    text-transform: uppercase;
    color: #fff;
}

    section#counters .counter span {
        font-size: 62px;
        line-height: 86.8px;
        text-align: center;
        letter-spacing: 4px;
        font-family: latin;
    }

        section#counters .counter span::after {
            display: block;
            width: 50px;
            height: 1px;
            margin: 0 auto;
            content: '';
            background: #cbb27c;
        }
/*# sourceMappingURL=main.css.map */
