﻿@model RegisterPageViewModel
@{
    ViewData["Title"] = "Register an account";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="container vh-100">
    <div class="bg-login"></div>
    <div class="py-100 h-100">
        <div class="row justify-content-end align-items-center h-100">
            <div class="col-md-6 py-5 px-4 bg-white frame">
                <section>
                    <form asp-controller="Account" asp-action="Register" method="post">
                        <h1 class="gr-h-family text-primary m-0">@ViewData["Title"]</h1>
                        <h4>Create a new account.</h4>
                        <hr />
                        <div asp-validation-summary="All" class="text-danger"></div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Name"></label>
                                    <input asp-for="@Model.Name" class="form-control" />
                                    <span asp-validation-for="@Model.Name" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Email"></label>
                                    <input asp-for="@Model.Email" class="form-control" />
                                    <span asp-validation-for="@Model.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Password"></label>
                                    <input asp-for="@Model.Password" class="form-control" />
                                    <span asp-validation-for="@Model.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.ConfirmPassword"></label>
                                    <input asp-for="@Model.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label asp-for="@Model.Age"></label>
                                    <input asp-for="@Model.Age" class="form-control" />
                                    <span asp-validation-for="@Model.Age" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.Country"></label>
                                    <input asp-for="@Model.Country" class="form-control" />
                                    <span asp-validation-for="@Model.Country" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="@Model.ImageURL"></label>
                                    <input asp-for="@Model.ImageURL" class="form-control" />
                                    <span asp-validation-for="@Model.ImageURL" class="text-danger"></span>
                                </div>
                                <button type="submit" class="mbtn-primary px-5">Register</button>
                                <p class="mt-1">
                                    <a asp-controller="Account" asp-action="Login">Already have an account<br />login here</a>
                                </p>
                            </div>
                        </div>
                    </form>
                </section>
            </div>
        </div>

    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
