﻿@model IEnumerable<BeerViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="bg-gray h-100 w-100">
    <div class="container" style="min-height: 100vh; height: 100%">
        <div class="py-100">
            <h1 class="gr-h-family text-primary text-center" style="padding-top: 100px">
               Wish List
            </h1>
            <hr class="mb-3" />
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-sm-4 col-md-3 mb-5">
                    @Html.Partial("_BeerPartial", item)
                </div>
            }
        </div>
    </div>
</div>