﻿@using Microsoft.AspNetCore.Identity
@using Beers.Models
@using Beers.Data
@using Microsoft.EntityFrameworkCore

@model BeerViewModel
@inject UserManager<User> UserManager
@inject BeersContext dbcontext


@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*Main view*@
<section id="details" class="bg-gray vh-75 d-flex align-items-center">
    @*Controls*@

    <div id="controls" class="d-flex align-items-center">
        @if (User.IsInRole("Admin"))
        {
            <form asp-action="Delete" asp-route-id="@Model.Id">
                <button type="submit" class="btn btn-danger mr-2">Delete <i class="fas fa-trash-alt"></i></button>
            </form>
            @*<a class="btn btn-danger mr-2" asp-action="Delete" asp-route-id="@Model.Id">Delete <i class="fas fa-trash-alt"></i></a>*@
            <a class="btn btn-primary mr-2" asp-action="Edit" asp-route-id="@Model.Id">Edit <i class="far fa-edit"></i></a>
        }
        <a asp-action="Index">Back to List</a>
    </div>
    @*Controls / END*@
    <div class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                    @if (string.IsNullOrEmpty(Model.ImageURL))
                    {
                        <img src="~/images/blankbeer.png" alt="" width="100%" />
                    }
                    else
                    {
                        <img src="@Model.ImageURL" alt="" width="100%" />
                    }
                </div>

                <div class="col-xs-12 col-sm-7 col-sm-push-1 col-md-7 col-lg-7">
                    <div>
                        @{
                            var user = await UserManager.GetUserAsync(User);
                            bool isInWishList = false;
                            bool isInAlreadyDrunkList = false;
                            if (user != null )
                            {
                                var thisuser = dbcontext.Users
                                    .Include(x => x.WishList)
                                        .ThenInclude(x => x.Beer)
                                    .Include(x => x.AlreadyDrunkBeers)
                                        .ThenInclude(x => x.Beer)
                                    .FirstOrDefault(x => x.Id == user.Id);

                                isInWishList = thisuser.WishList
                                    .Where(x => x.IsDeleted == false)
                                    .Any(x => x.BeerId == Model.Id);
                                isInAlreadyDrunkList = thisuser.AlreadyDrunkBeers
                                    .Where(x => x.IsDeleted == false)
                                    .Any(x => x.BeerId == Model.Id);
                            }


                        }
                        @*@user.WishList.Count*@
                    </div>
                    <h2>@Model.Name</h2>
                    <h3 class="text-primary gr-h-family mb-2" title="alcohol by volume">Alcohol by volume: @Model.ABV%</h3>
                    <div class="star-rating">
                        @for (var i = 1; i <= Model.AverageRating; i++)
                        {
                            <span class="fa fa-star checked" data-rating="@i"></span>
                        }
                    </div>
                    <p class="mb-5 text-muted">@Model.Brewery</p>
                    <div class="d-inline-flex">
                        <div id="form-drunk">
                            <input type="hidden" value="@Model.Id" name="beerId" />
                            @if (!isInAlreadyDrunkList)
                            {
                                <button class="mbtn-secondary px-5 mr-3" type="button" onclick="AddToAlreadyDrunk()">Add to already drank <i class="fas fa-beer"></i></button>
                                <button class="btn btn-danger px-5 d-none mr-3" style="padding: 10px 5px; border-radius: 3px;" type="button" onclick="RemoveFromAlreadyDrunk()">Remove from already drank <i class="fas fa-beer"></i></button>
                            }
                            else
                            {
                                <button class="mbtn-secondary px-5 mr-3 d-none" type="button" onclick="AddToAlreadyDrunk()">Add to already drank <i class="fas fa-beer"></i></button>
                                <button class="btn btn-danger px-5 mr-3" style="padding: 10px 5px; border-radius: 3px;" type="button" onclick="RemoveFromAlreadyDrunk()">Remove from already drank <i class="fas fa-beer"></i></button>
                            }
                        </div>
                        <div id="form-wishlist">
                            <input type="hidden" value="@Model.Id" name="beerId" />
                            @if (!isInWishList)
                            {
                                <button class="mbtn-primary px-5" type="button" onclick="AddToWishList()">Add to wishlist <i class="far fa-heart"></i></button>
                                <!-- show if added in wishlist -->
                                <button class="btn btn-danger px-5 d-none" style="padding: 10px 5px; border-radius: 3px;" type="button" onclick="RemoveFromWishList()">Remove from wishlist <i class="far fa-heart"></i></button>
                            }
                            else
                            {
                                <button class="mbtn-primary px-5 d-none" type="button" onclick="AddToWishList()">Add to wishlist <i class="far fa-heart"></i></button>
                                <!-- show if added in wishlist -->
                                <button class="btn btn-danger px-5" style="padding: 10px 5px; border-radius: 3px;" type="button" onclick="RemoveFromWishList()">Remove from wishlist <i class="far fa-heart"></i></button>
                            }

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>
@*Main view / end*@

@*Navigation panel*@

@*Nav TABS*@
<nav>
    <div class="nav nav-tabs bg-gray" id="nav-tab" role="tablist">
        <a class="nav-item nav-link active" id="nav-description-tab" data-toggle="tab" href="#nav-descr" role="tab" aria-controls="nav-home" aria-selected="true">Description</a>
        <a class="nav-item nav-link" id="nav-review-tab" data-toggle="tab" href="#nav-reviews" role="tab" aria-controls="nav-profile" aria-selected="false">Reviews ( @Model.Reviews.Count )</a>
    </div>
</nav>
@*NAV TABS / END*@

@*TAB CONTENT*@

<div class="tab-content py-100" id="nav-tabContent">
    <div class="container">
        <div class="tab-pane fade show active" id="nav-descr" role="tabpanel" aria-labelledby="nav-description-tab">
            <h3 class="text-primary gr-h-family">Description</h3>
            @if (string.IsNullOrEmpty(Model.Description))
            {
                <p>This Beer has no description...</p>
            }
            else
            {
                @Model.Description
            }
        </div>

        <!-- REVIEWS -->
        <div class="tab-pane fade" id="nav-reviews" role="tabpanel" aria-labelledby="nav-review-tab">
            <div id="form-add-review" class="mb-5">
                <input type="hidden" value="@Model.Id" name="beerId" />
                <div class="row">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <h3 class="text-primary gr-h-family">Reviews</h3>
                        @if (Model.Reviews.Count <= 0)
                        {
                            <p>There are no reviews yet.</p>
                            <p class="mb-5">Be the first to review <span class="text-primary">“@Model.Name”</span></p>
                        }
                        else
                        {
                            <p>There are @Model.Reviews.Count reviews for this beer</p>
                            <p>Add your review to <span class="text-primary">“@Model.Name”</span></p>
                        }
                        <label for="">Your rating *</label>
                        <div class="your-ratings rating-icons mb-5">
                            <div class="star-rating">
                                <span class="fa fa-star" data-rating="1"></span>
                                <span class="fa fa-star" data-rating="2"></span>
                                <span class="fa fa-star" data-rating="3"></span>
                                <span class="fa fa-star" data-rating="4"></span>
                                <span class="fa fa-star" data-rating="5"></span>
                                <input type="hidden" name="rating" class="rating-value" value="2.56">
                            </div>
                        </div>
                        <button class="px-5 mbtn-primary" onclick="AddReview()" type="button">Submit</button>
                    </div>
                    <div class="col-xs-12 col-sm-7 col-sm-push-1 col-md-7 col-lg-7 d-flex flex-column">
                        <label for="#review">Your review *</label>
                        <textarea name="review" id="review" cols="45" rows="8" required></textarea>
                    </div>

                </div>
            </div>

            <div class="py-100">
                <!-- IF REVIEW COUNT > 0 -->
                @if (Model.Reviews.Count > 0)
                {
                    <div class="row">
                        @foreach (var review in Model.Reviews)
                        {
                            <!-- FOREACH REVIEW -->

                            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 mb-5">
                                <div class="row">
                                    <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 pr-0 text-center d-flex align-items-center justify-content-center">
                                        <div class="user-thumbnail mb-3 d-flex justify-content-center align-items-center">
                                            @if (string.IsNullOrEmpty(review.User.ImageURL))
                                            {
                                                <img src="~/images/blank-user.png" alt="" />
                                            }
                                            else
                                            {
                                                <img src="review.User.ImageURL" alt="" />
                                            }

                                        </div>

                                    </div>

                                    <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9 d-flex pl-0 d-flex flex-column">
                                        <h5 class="m-0">@review.User.Name</h5>
                                        <div class="star-rating">
                                            @for (var i = 1; i <= review.Rating; i++)
                                            {
                                                <span class="fa fa-star checked" data-rating="@i"></span>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="row">

                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="review-description text-muted py-3">
                                            <p class="m-0">@review.Text</p>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        }
                    </div>
                }
            </div>
        </div>
        <!-- REVIEWS / END -->
    </div>
</div>

@*TAB CONTENT / END*@

@*Navigation panel / end*@
