﻿@model EditBeerViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="container">
    <div class="py-100">
        <div class="d-flex pt-5 justify-content-between">
            <h1 class="">Edit Beer</h1>
            <a asp-action="Index">Back to List</a>
        </div>
        <hr class="mb-5" />
        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-4">

                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group">
                        <label asp-for="Style" class="control-label"></label>
                        <input asp-for="Style" class="form-control" />
                        <span asp-validation-for="Style" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Brewery" class="control-label"></label>
                        <input asp-for="Brewery" class="form-control" />
                        <span asp-validation-for="Brewery" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ABV" class="control-label"></label>
                        <input asp-for="ABV" class="form-control" />
                        <span asp-validation-for="ABV" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <textarea style="min-height: 123px;" asp-for="Description" class="form-control"></textarea>
                        <span asp-validation-for="Description" cols="45" rows="8" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ImageURL" class="control-label"></label>
                        <input asp-for="ImageURL" class="form-control" />
                        <span asp-validation-for="ImageURL" class="text-danger"></span>
                    </div>

                </div>
            </div>
        </form>

    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
