﻿@model IEnumerable<BeerViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="bg-gray h-100 w-100">
    <div class="container" style="min-height: 100vh">
        <div class="py-100">
            <div class="d-flex justify-content-between mb-3" style="padding-top: 100px">
                <a asp-action="Create" class="btn btn-primary">Create New <i class="fas fa-plus"></i></a>
                <div class="d-flex">


                    <div class="search-form d-inline-flex mr-3">
                        <label for="search-input" class="m-0 mr-3 d-flex justify-content-center align-items-center font-weight-bold">Search:</label>
                        <div class="input-group">
                            <input id="search-input" type="text" class="form-control">
                            <div class="input-group-append">
                                <button onclick="Search()" class="btn btn-primary">
                                    <i class="fas fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>


                    <div class="dropdown show">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Order By
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="@Url.Action("Index", "Beers")?order=name_asc">Name Ascending</a>
                            <a class="dropdown-item" href="@Url.Action("Index", "Beers")?order=name_desc">Name Descending</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-sm-6 col-md-3 mb-5">
                        @Html.Partial("_BeerPartial", item)
                    </div>
                }
            </div>
            <div class="d-flex mb-3 pt-5">
                <button class="btn btn-secondary mr-3" onclick="MovePrevious()">Prev</button>
                <button class="btn btn-primary" onclick="MoveNext()">Next</button>
            </div>
        </div>
    </div>
</div>