﻿@model IEnumerable<UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="container">
        <div class="py-100">
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ImageURL)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Email)
                        </th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.Country)
                        </th>*@
                        <th>
                            @Html.DisplayNameFor(model => model.Age)
                        </th>
                        <th></th>
                        @*<th>
                            @Html.DisplayNameFor(model => model.IsBanned)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsAdmin)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.CreatedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ModifiedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.DeletedOn)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.IsDeleted)
                        </th>
                        <th></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                <div class="user-thumbnail">
                                    @if (string.IsNullOrEmpty(item.ImageURL))
                                    {
                                        <img src="~/images/blank-user.png" />
                                    }
                                    else
                                    {
                                        <img src="item.ImageURL" />
                                    }
                                </div>
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.Country.Name)
                            </td>*@
                            <td>
                                @Html.DisplayFor(modelItem => item.Age)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.IsBanned)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsAdmin)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CreatedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ModifiedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DeletedOn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.IsDeleted)
                            </td>*@
                            <td>
                                <button class="btn btn-danger" onclick="FastDeleteUser(@item.Id)" type="submit">Delete <i class="fas fa-trash-alt"></i></button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

